############
## JanTac
############

# Temp directory for build
build

# Temp directory for node-modules install
node_modules

JanTac.sublime-workspace


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

